
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/build/styles.css" asp-append-version="true" />
</head>
<body>
    <div id="react-root"><div class="ma4 f4 black-70">Loading...</div></div>
    <script src="~/build/app.js" asp-append-version="true"></script>
</body>
</html>
